---
const { class: className, ...rest } = Astro.props; // https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component
---

<div class={className} {...rest}>
   <slot />
</div>

<style lang="scss">
   div {
    height:80%;
    width:20%;
    z-index: 10;  
    position: fixed;
    padding: 2rem;
    right: 2%;
    top: 10%;
    background: rgba(158, 158, 158, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
   }
</style>